@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:radial-gradient(#252429,#252429)
}

.container #particles-js
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container #scene
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container #scene #text
{
    position: absolute;
    display: flex !important;
    position: relative;
    color: #a633d6;
    font-size: 14vh;
    z-index: 100;
}
.container #scene #text span
{
    position: relative !important;
    display: inline-block;
    text-shadow: 1px 1px 0 #17171d,
    2px 2px 0 #17171d,
    3px 3px 0 #17171d,
    4px 4px 0 #17171d,
    5px 5px 0 #17171d,
    6px 6px 0 #17171d,
    7px 7px 0 #17171d,
    8px 8px 0 #17171d,
    25px 35px 0 rgba(0,0,0,0.1);
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#particles-js
{
    height: 100%;
    background: #252429;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
    background-color: #252429;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s; 
}

.navbar a:hover {
    color: #ec3750;
}

.navbar img {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px; 
    left: 0;
    right: 0;
}

.logo {
    position: absolute;
    top: -6px; 
    left: 0px;
    width: 150px; 
    height: 75px; 
    z-index: 1001;
}

body {
    background-color: #252429;
    text-align: center;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 175px; 
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 175px; 
}

header h1 {
    color: #a633d6;
}

p {
    color: #ffffff;
    line-height: 2; 
    text-align: left;
    font-size: 17px;
}

button:focus,
button:hover {
  box-shadow: var(--shadow-elevated);
  transform: scale(1.025);
}

.logo:hover {
    animation: wave-flag 0.5s linear infinite alternate;
    cursor: pointer;
}

@keyframes wave-flag {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-5deg); }
}