.w3-bar {
    background-color: rgb(255, 0, 0);
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #333; 
    margin-right: 15px;
    font-weight: bold; 
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #dc3545;
}
